.mini-section-container {
  height: 100vh;
  position: sticky;
  top: 0;
}
.mini-section {
  display: flex;
  height: 50vh;
  flex-direction: column;
  /* border: 1px solid red; */
  justify-content: center;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: sticky;
  top: 0;
  margin-top: 10px;
}

/* Hide the scrollbar for WebKit browsers */
.mini-section > div::-webkit-scrollbar {
  width: 0.5em;
}

.mini-section > div {
  overflow-y: auto;
}

.popular-section {
  display: flex;
  height: 100vh;
  flex-direction: column;
  /* border: 1px solid red; */
  justify-content: center;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: sticky;
  top: 0;
  margin-top: 10px;
}

/* Hide the scrollbar for WebKit browsers */
.popular-section > div::-webkit-scrollbar {
  width: 0.5em;
}

.popular-section > div {
  overflow-y: auto;
}
